// ---- APPARITION DES TITRES ----

#studio h2, 
.story h2 {
    background-image: none;
    background-color: transparent;
}

.title-bg {
    background-image: url(../../foce-child/assets/images/background-h2.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    background-position: center;
    .title {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .title-studio, 
        .title-koukaki,
        .title-story {
            display: block;
            transform: translateY(112px);
        }
    }
}

.title-visible {
    animation: titleAppear 0.5s forwards;
}

.title-koukaki {
    animation-delay: 0.5s;
}